<!--
  ~ Jonathan Widdowson
  ~ Neetfreek, 2021
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
<div th:if="${invalidCredentials}" style="background-color: red;">
    Sorry <span th:text="${loginForm.username}">[username]</span>, incorrect password.
</div>
<h1>Login</h1>
<p>Enter your username and password.</p>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <p>Username: <input type="text" th:field="*{username}"/></p>
    <p>Password: <input type="password" th:field="*{password}"/></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>